@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 231 15% 18%;
    --surface-low: 60 30% 96%;
    --surface-high: 215 20.2% 65.1%;
    --brand: 326 100% 74%;
    --brand-hover: 326 100% 59%;
    --brand-secondary: 265 89% 78%;
    --brand-tertiary: 31 100% 71%;
    --brand-text: 326 100% 15%;

    --background: var(--bg);
    --foreground: var(--surface-low);

    --muted: 223 47% 11%;
    --muted-foreground: 218 11% 65%;

    --popover: var(--bg);
    --popover-foreground: var(--surface-high);

    --card: var(--bg);
    --card-foreground: var(--surface-low);

    --border: 225 27% 31%;
    --input: 216 34% 17%;

    --primary: 60 30% 96%;
    --primary-foreground: 232 14% 31%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 60 30% 96%;

    --accent: var(--brand-secondary);
    --accent-foreground: 216 34% 17%;

    --destructive: 0 63% 51%;
    --destructive-foreground: 210 40% 98%;

    --ring: var(--brand-tertiary);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.title-effect {
  color: unset;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  line-height: 1;
  letter-spacing: -0.02em;
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.48)
  );
  background-clip: text;
}

.background-gradient {
  background: radial-gradient(
    ellipse 80% 50% at 50% -20%,
    rgba(120, 119, 198, 0.3),
    rgba(255, 255, 255, 0)
  );
}

.animate-title {
  animation: 1000ms ease 0s 1 normal backwards running fadeIn;
}

.animate-description {
  animation: 1200ms ease 400ms 1 normal backwards running fadeIn;
}

.animate-cta {
  animation: 1200ms ease 800ms 1 normal backwards running fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
